:root {
  --tbcMainColor: #00a3e0;
  --bgBold: #161616;
  --bglight: #2b2b2b;
  --color: #f0f0f0;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}
body {
  min-height: 300vh;
  background-color: var(--bglight);
  padding-top: 84px;
}

/*   Desktop  Header Style */

.siteHeader {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 84px;
  background-color: rgba(26, 30, 31, 0.93);
  z-index: 1;
}
.transparent {
  background-color: rgba(26, 30, 31, 0.8);
}
.open {
  display: none;
}

.svgPhotoHaederTbc {
  position: absolute;
  top: 20px;
  left: 16%;
}
.navBar {
  position: absolute;
  right: 16%;
  display: flex;
  color: #f0f0f0;
  font-weight: 100;
}
.navBar img {
  display: none;
}
.navBar li {
  cursor: pointer;
  padding: 0 20px;
  list-style: none;
}

.navBar li:hover {
  transition: 0.5s;
  color: #00a3e0;
}
.selected {
  color: #00a3e0;
}

/*  Desktop Main Photo  */
.mainPhotoContainer {
  height: 352px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.mainPhotoContainer img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.mainPhotoContainer h3 {
  font-size: 44px;
  color: #f0f0f0;
}
.siteDescrioption {
  position: absolute;
  top: 35%;
  left: 16%;
}
.siteDescrioption span {
  width: max-content;
  font-size: 2rem;
}
.wrapper {
  width: 100%;
}
.textContainer {
  background-color: #2b2b2b;
  width: 100%;
}
.textContainer h3 {
  margin: 0 auto;
  padding-top: 30px;
  width: 70%;
  font-size: 28px;
  line-height: 2.6rem;
  color: #f0f0f0;
}

.textContainer div {
  padding-bottom: 60px;
  margin-top: 65px;
  width: 100%;
}
.textContainer div a {
  width: 80%;
  text-decoration: none;
  margin: 0 15%;
  color: var(--tbcMainColor);
  font-size: 20px;
}
/*  Desktop COURSE CONTENT STYLES   */
.courseContent {
  background-color: #161616;
  padding-bottom: 5%;
}
.courseContent h6 {
  color: var(--color);
  padding: 50px 0;
  margin-left: 15%;
  font-size: 24px;
}

.coursesContainer {
  min-height: 200vh;
  background-color: #161616;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: var(--bgBold);
  margin: 0 15%;
  gap: 3% 1%;
}

/*   Desktop Slider  Style */

.partnersContainer {
  height: 20%;
  position: relative;
  background-color: var(--bglight);
}
.partnersContainer h1 {
  margin-top: 5%;
  padding-left: 15%;
  color: var(--color);
}
.slidesContainer {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}

.slidesContainer div {
  padding: 0 5%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto;
  scroll-snap-align: center;
  flex: none;
}

.slidesContainer div img {
  padding: 30px 10px;
  margin: 10% 0;
  width: 100%;
  height: 120px;
  object-fit: contain;
}
#center {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.sliderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}
#prevbtn,
#nextbtn {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
}

#prevbtn {
  left: 3%;
}

#nextbtn {
  right: 3%;
}
.paginationDotsContainer {
  position: absolute;
  top: 100%;
  left: 47%;
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}
/* Desktop Frequently asked questions */
.questionsContainer {
  background-color: var(--bgBold);
  padding-bottom: 4%;
}
.questionsContainerHeader {
  font-size: 0.8rem;
  margin: 3% 10% 2%;
  padding: 8% 10% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.questionsContainerHeader h1 {
  font-size: 1.2rem;
  color: var(--color);
}
.questionsContainerHeader h2 {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--tbcMainColor);
}
.questionsContainerHeader h2:hover {
  transition: 0.5s;
  color: var(--color);
}
.question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  margin: 3% 10%;
  color: var(--color);
  font-size: 1rem;
}
.rotate {
  transform: rotate(180deg);
}
.answer {
  display: none;
  padding: 0 10%;
  margin: 0 10%;
  color: var(--color);
  font-size: 1rem;
  line-height: 170%;
}
.visible {
  display: block;
}

.questionsContentContainer hr {
  border: none;
  height: 2px;
  background-color: var(--bglight);
  margin: 2% 20%;
}

/* Desktop Footer Styles   */

.footerContainer {
  background: rgba(26, 30, 31, 0.8);
}
.footerLogos {
  margin: 0 10%;
  padding: 1%;
  display: flex;
  justify-content: space-between;
}
.footerLogos .tbc {
  padding: 0 6%;
  max-width: 20%;
  object-fit: contain;
}
.footerLogos .social {
  cursor: pointer;
  align-items: center;
  width: 20%;
}
.footerLogos .social img {
  max-width: 20%;
  object-fit: contain;
  padding: 0 1%;
}

.termsAndConditions {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;

  margin: 0 16%;
  padding-bottom: 5%;
}
.termsAndConditions span p {
  color: var(--color);
  padding: 2% 0;
}
.termsAndConditions span p:last-child {
  cursor: pointer;
}
.termsAndConditions button {
  cursor: pointer;
  outline: none;
  border: none;
  width: max-content;
  color: white;
  font-size: 1.1rem;
  background-color: var(--tbcMainColor);
  padding: 0 3%;
  margin: 1% 6%;
  border-radius: 10px;
}
.termsAndConditions button:hover {
  transition: 0.3s ease-in-out;
  background-color: #717171;
  color: #161616;
}

/* BreakPoint */
/*  Mobile Design  */

@media only screen and (max-width: 600px) {
  .svgPhotoHaederTbc {
    position: absolute;
    top: 25%;
    left: 6%;
  }
  /*  Mobile */
  .navBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-end;
    min-height: 100vh;
    background-color: #232222;
    z-index: 10;
  }
  .navBar div {
    position: relative;
    margin: 10% 10% 30%;
  }
  .siteHeader .open {
    position: absolute;
    top: 30%;
    right: 5%;
    display: block;
    width: 10%;
  }
  .navBar div .close {
    margin: 0 25%;
    width: 80%;
    object-fit: contain;
    display: block;
  }
  .hide {
    display: none;
  }

  .navBar li {
    cursor: pointer;
    padding: 10%;
    list-style: none;
    z-index: 10;
    font-size: 1.3rem;
  }
  /* Mobile MAIN PHOTO STYLE   */
  .mainPhotoContainer {
    height: 252px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .mainPhotoContainer {
    height: 255px;
  }

  .mainPhotoContainer h3 {
    font-size: 1.5rem;
  }
  .siteDescrioption {
    top: 18%;
    left: 6%;
  }
  .siteDescrioption span {
    width: max-content;
    font-size: 1.5rem;
  }

  .textContainer {
    background-color: #2b2b2b;
    width: 100%;
  }
  .textContainer h3 {
    margin: 0 6%;
    padding-top: 30px;
    width: 80%;
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .textContainer div a {
    margin: 0 6%;
  }

  /*  Mobile Course Style */
  .courseContent {
    width: 100%;
    padding-bottom: 75%;
  }
  .courseContent h6 {
    padding: 40px 0;
    margin-left: 6%;
    font-size: 1.8rem;
  }

  .coursesContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0;
    margin: 0;
    gap: 1% 0;
  }

  .partnersContainer {
    height: 20%;
  }
  .partnersContainer h1 {
    margin: 5% 0;
    padding-left: 6%;
    font-size: 1.7rem;
  }
  .slidesContainer {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
  }

  .slidesContainer div {
    padding: 0 5%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: auto;
  }
  .slidesContainer div img {
    padding: 7% 2%;
    margin: 5% 0;
  }
  #prevbtn,
  #nextbtn {
    display: none;
  }

  .paginationDotsContainer {
    position: absolute;
    top: 95%;
    left: 47%;
  }
  .dot {
    height: 7px;
    width: 7px;
  }

  /*   Mobile Frequently asked questions  */

  .questionsContainer {
    position: relative;
    width: 100%;
    min-height: 60vh;
    padding-bottom: 5%;
  }
  .questionsContainerHeader {
    margin: 10% 6%;
    padding: 3% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .questionsContainerHeader h1 {
    font-size: 1.8rem;
    color: var(--color);
  }
  .questionsContainerHeader h2 {
    position: absolute;
    font-size: 1.4rem;
    left: 32%;
    bottom: 5%;
  }
  .question {
    padding: 0;
    margin: 8%;
    font-size: 1.4rem;
  }
  .answer {
    margin: 0 6%;
    font-size: 1.2rem;
  }
  .questionsContentContainer hr {
    margin: 2% 6%;
  }

  /*  Footer Mobile  */

  .footerContainer {
    background: rgba(26, 30, 31, 0.8);
    min-height: 35vh;
  }
  .footerLogos {
    flex-direction: column;
    margin: 0;
  }
  .footerLogos .tbc {
    margin-top: 5%;
    max-width: 50%;
    height: auto;
    object-fit: cover;
    padding: 0 5%;
  }
  .footerLogos .social {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    align-items: center;
    width: 100%;
    padding: 0 10%;
    margin: 10% 0;
  }
  .footerLogos .social img {
    max-width: 20%;
    object-fit: contain;
    padding: 0 2%;
  }

  .termsAndConditions {
    position: relative;
    font-size: 1rem;
    margin: 0 5%;
    padding-bottom: 5%;
  }
  .termsAndConditions span {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .termsAndConditions span p {
    font-size: 1.3rem;
    padding: 2% 0;
  }
  .termsAndConditions button {
    position: absolute;
    left: 0;
    top: -103%;
    font-size: 1.1rem;
    padding: 3% 10%;
    margin: 0;
    border-radius: 10px;
  }
}

/*   Ipad mini design  */

@media only screen and (min-width: 601px) and (max-width: 768px) {
  /*  Nav Bar */
  body {
    padding-top: 150px;
  }
  .siteHeader {
    height: 150px;
  }
  .svgPhotoHaederTbc {
    top: 20%;
    left: 6%;
  }
  .svgPhotoHaederTbc svg {
    width: 100%;
    height: 80px;
  }

  .navBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-end;
    min-height: 100vh;
    background-color: #232222;
    z-index: 10;
  }
  .navBar div {
    position: relative;
    margin: 10% 10% 30%;
  }
  .siteHeader .open {
    position: absolute;
    top: 35%;
    right: 5%;
    display: block;
    width: 7%;
  }
  .navBar div .close {
    margin: 10%;
    width: 70%;
    object-fit: contain;
    display: block;
  }
  .hide {
    display: none;
  }
  .navBar li {
    cursor: pointer;
    padding: 10%;
    list-style: none;
    z-index: 10;
    font-size: 2rem;
  }

  /*  Main Photo */

  .mainPhotoContainer {
    height: 200%;
    width: 100%;
  }

  .mainPhotoContainer {
    height: 450px;
  }

  .mainPhotoContainer h3 {
    font-size: 3.3rem;
  }
  .siteDescrioption {
    top: 18%;
    left: 6%;
  }
  .siteDescrioption span {
    display: block;
    width: min-content;
    font-size: 2.6rem;
  }

  .textContainer {
    background-color: #2b2b2b;
    width: 100%;
  }
  .textContainer h3 {
    min-height: 80vh;
    margin: 0 6%;
    padding-top: 10%;
    width: 90%;
    font-size: 2.2rem;
    line-height: 4rem;
  }

  .textContainer div a {
    margin: 0 6%;
    font-size: 2rem;
  }
  .courseContent {
    width: 100%;
    padding-bottom: 75%;
  }
  .courseContent h6 {
    padding: 40px 0;
    margin-left: 6%;
    font-size: 3rem;
  }
  /* Couses List  */
  .coursesContainer {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0;
    margin: 0;
    gap: 1% 0;
  }

  .partnersContainer {
    height: 20%;
  }
  .partnersContainer h1 {
    margin: 5% 0;
    padding-left: 6%;
    font-size: 2.5rem;
  }
  .slidesContainer {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
  }

  .slidesContainer div {
    padding: 0 5%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: auto;
  }
  .slidesContainer div img {
    padding: 2% 0;
    margin: 12% 0;
  }
  #prevbtn,
  #nextbtn {
    display: none;
  }

  .paginationDotsContainer {
    position: absolute;
    top: 95%;
    left: 47%;
  }
  .dot {
    height: 7px;
    width: 7px;
  }
  /*  Questions Style   */

  .questionsContainer {
    position: relative;
    width: 100%;
    min-height: 73vh;
    padding-bottom: 5%;
  }
  .questionsContainerHeader {
    margin: 10% 6%;
    padding: 3% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .questionsContainerHeader h1 {
    font-size: 3rem;
  }
  .questionsContainerHeader h2 {
    font-size: 2.2rem;
    position: absolute;
    left: 32%;
    bottom: 5%;
  }
  .question {
    padding: 0;
    margin: 8%;
    font-size: 2.2rem;
  }
  .answer {
    margin: 0 6%;
    padding: 0;
    font-size: 2rem;
  }
  .questionsContentContainer hr {
    margin: 2% 6%;
  }

  /*  Ipad Mini Footer */
  .footerContainer {
    background: rgba(26, 30, 31, 0.8);
    min-height: 35vh;
  }
  .footerLogos {
    flex-direction: column;
    margin: 0;
  }
  .footerLogos .tbc {
    margin-top: 5%;
    max-width: 50%;
    height: auto;
    object-fit: cover;
    padding: 0 5%;
  }
  .footerLogos .social {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    align-items: center;
    width: 100%;
    padding: 0 10%;
    margin: 10% 0;
  }
  .footerLogos .social img {
    max-width: 20%;
    object-fit: contain;
    padding: 0 2%;
  }

  .termsAndConditions {
    position: relative;
    font-size: 1rem;
    margin: 0 5%;
    padding-bottom: 5%;
  }
  .termsAndConditions span {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .termsAndConditions span p {
    font-size: 2rem;
    padding: 2% 0;
  }
  .termsAndConditions button {
    position: absolute;
    left: 0;
    top: -100%;
    font-size: 1.5rem;
    padding: 3% 10%;
    margin: 0;
    border-radius: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  body {
    padding-top: 150px;
  }
  /* Header  */
  .siteHeader {
    height: 150px;
  }
  .svgPhotoHaederTbc {
    top: 20%;
    left: 6%;
  }
  .svgPhotoHaederTbc svg {
    width: 100%;
    height: 80px;
  }

  .navBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-end;
    min-height: 100vh;
    background-color: #232222;
    z-index: 10;
  }
  .navBar div {
    position: relative;
    margin: 10% 10% 30%;
  }
  .siteHeader .open {
    position: absolute;
    top: 20%;
    right: 5%;
    display: block;
    width: 7%;
  }
  .navBar div .close {
    margin: -20% 25% 0;
    width: 100%;
    object-fit: contain;
    display: block;
  }
  .hide {
    display: none;
  }
  .navBar li {
    cursor: pointer;
    padding: 10%;
    list-style: none;
    z-index: 10;
    font-size: 2.3rem;
  }

  /*  Main Photo  */
  .mainPhotoContainer {
    height: 200%;
    width: 100%;
  }

  .mainPhotoContainer {
    height: 450px;
  }

  .mainPhotoContainer h3 {
    font-size: 5rem;
  }
  .siteDescrioption {
    top: 18%;
    left: 6%;
  }
  .siteDescrioption span {
    display: block;
    width: min-content;
    font-size: 3.6rem;
  }

  .textContainer h3 {
    min-height: 60vh;
    margin: 0 6%;
    padding-top: 10%;
    width: 90%;
    font-size: 2.2rem;
    line-height: 4rem;
  }

  .textContainer div a {
    margin: 0 6%;
    font-size: 2rem;
  }
  .courseContent {
    width: 100%;
    padding-bottom: 75%;
  }
  .courseContent h6 {
    padding: 40px 0;
    margin-left: 6%;
    font-size: 3rem;
  }

  /* Courses List */
  .coursesContainer {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0;
    margin: 0;
    gap: 1% 0;
  }

  .partnersContainer {
    height: 20%;
  }
  .partnersContainer h1 {
    margin: 5% 0;
    padding-left: 6%;
    font-size: 4rem;
  }
  .slidesContainer {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
  }

  .slidesContainer div {
    padding: 0 5%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: auto;
  }
  .slidesContainer div img {
    padding: 0;
    margin: 12% 0;
  }
  #prevbtn,
  #nextbtn {
    display: none;
  }

  .paginationDotsContainer {
    position: absolute;
    top: 100%;
    left: 47%;
  }
  .dot {
    height: 15px;
    width: 15px;
  }

  /*  Questions Style  */

  .questionsContainer {
    position: relative;
    width: 100%;
    min-height: 73vh;
    padding-bottom: 35%;
  }
  .questionsContainerHeader {
    margin: 10% 6%;
    padding: 3% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .questionsContainerHeader h1 {
    font-size: 4rem;
  }
  .questionsContainerHeader h2 {
    font-size: 3rem;
    position: absolute;
    left: 32%;
    bottom: 10%;
  }
  .question {
    padding: 0;
    margin: 8%;
    font-size: 2.2rem;
  }
  .answer {
    margin: 0 6%;
    padding: 0;
    font-size: 2rem;
  }
  .questionsContentContainer hr {
    margin: 2% 6%;
  }

  /*  Footer Style */
  .footerContainer {
    background: rgba(26, 30, 31, 0.8);
    min-height: 35vh;
  }
  .footerLogos {
    flex-direction: column;
    margin: 0;
  }
  .footerLogos .tbc {
    margin-top: 5%;
    max-width: 50%;
    height: auto;
    object-fit: cover;
    padding: 0 5%;
  }
  .footerLogos .social {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    align-items: center;
    width: 100%;
    padding: 0 10%;
    margin: 10% 0;
  }
  .footerLogos .social img {
    max-width: 20%;
    object-fit: contain;
    padding: 0 2%;
  }

  .termsAndConditions {
    position: relative;
    font-size: 1rem;
    margin: 0 5%;
    padding-bottom: 5%;
  }
  .termsAndConditions span {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .termsAndConditions span p {
    font-size: 2rem;
    padding: 2% 0;
  }
  .termsAndConditions button {
    position: absolute;
    left: 0;
    top: -100%;
    font-size: 1.5rem;
    padding: 3% 10%;
    margin: 0;
    border-radius: 10px;
  }
}
